body {
  color: var(--first-text-color);
  background-color: var(--body-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

:root {
  --body-bg-color: #ffffff;
  --accent-color: #2196f3;
  --primery-text-color: #ffffff;
  --first-text-color: #757575;
  --second-text-color: #212121;
  --first-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --personal-bg-color: #ffffff;
  --hero-bg-color: #c4c4c4;
  --primary-bg-color: #e5e5e5;
  --comand-bg-color: #f5f4fa;
  --button-bg-color: #f5f4fa;
  --futter-bg-color: #2f303a;
  --icon-bg-color: #eeeeee;
  --span-logo-color: #000000;
  --second-logo-color: #ffffff;
  --first-logo-color: #2196f3;
  --first-address-color: #ffffff;
  --second-address-color: rgba(255, 255, 255, 0.6);
  --first-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --first-footer-social-color: rgba(255, 255, 255, 0.1);
  --first-modal-text-color: #212121;
  --second-modal-text-color: #757575;
  --button-bg-modal-color: #2196f3;
  --button-text-modal-color: #ffffff;
  --border-modal-color: rgba(33, 33, 33, 0.2);
  --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mob-menu-bg-color: #ffffff;
  --mob-primery-text: #212121;
  --mob-secondary-text: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: var(--first-logo-color);
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.logo__span {
  color: var(--span-logo-color);
}

.button {
  color: var(--primery-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  align-items: center;
  text-align: center;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: var(--time-cubic-bezier), opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateY(0) scale(0.5);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--body-bg-color);
  transform: translate(-50%, -50%) rotateY(360deg) scale(1);
  transition: transform var(--time-cubic-bezier);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--personal-bg-color);
  width: 30px;
  height: 30px;
  transition: var(--time-cubic-bezier);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

.form-license {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-license {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form-license__label {
  display: flex;
  align-items: center;
}

.form-license__link {
  line-height: 1.71;
  margin-left: 5px;
  color: var(--accent-color);
}

.form-license__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-license__icon {
  border-radius: 4px;
  border: 2px solid #212121;
  margin-right: 7px;
  fill: transparent;
}

.form-license__checkbox:checked + .form-license__icon {
  background-color: var(--accent-color);
  border: 0;
  fill: var(--button-text-modal-color);
}

.modal-btn {
  display: flex;
  justify-content: center;
}

.modal-btn__btn {
  padding: 10px 55px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
}

.header .nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
    align-items: center;
  }
}

.header-open-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-open-btn {
    display: none;
  }
}

.header-open-btn:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    margin-right: 93px;
  }
}

.mob {
  position: fixed;
  top: 0;
  background-color: var(--mob-menu-bg-color);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.mob.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob > .container {
  position: relative;
  padding: 48px 83px 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}

.menu-mob-list {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu-mob-list__link {
  color: var(--mob-primery-text);
}

.menu-mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob__item-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.contact-mob__mail {
  color: var(--mob-secondary-text);
}

.contact-mob__item-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.contact-mob__item-tel:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob__tel {
  color: var(--accent-color);
}

.mob-soc-list {
  display: flex;
  margin-top: 64px;
}

.mob-soc-list__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-soc-list__item span {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.mob-soc-list__link {
  color: var(--accent-color);
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    justify-content: center;
  }
}

.filters-list__item {
  margin-right: 8px;
  margin-top: 15px;
}

.filters-list__item:last-child {
  margin-right: 0;
}

.filters-list__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--second-text-color);
  background-color: var(--button-bg-color);
  text-align: center;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: var(--time-cubic-bezier);
}

.filters-list__button:hover, .filters-list__button:focus {
  color: var(--primery-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list {
  display: flex;
}

.menu-list__link {
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-cubic-bezier);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}

.menu-list--current {
  color: var(--accent-color);
}

.menu-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-list__link--current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-list__link--current::after {
    content: " ";
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    top: 50px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu-list__link--current::after {
    top: 46px;
  }
}

.contact__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

.contact__tel,
.contact__mail {
  display: flex;
  align-items: center;
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-cubic-bezier);
}

@media screen and (min-width: 1200px) {
  .contact__tel,
  .contact__mail {
    font-size: 14px;
  }
}

.contact__tel:hover, .contact__tel:focus,
.contact__mail:hover,
.contact__mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .contact__tel {
    margin-top: 0;
    margin-left: 50px;
  }
}

.card-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .card-list {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.card-list__item {
  max-width: 450px;
  min-height: 404px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  transition: var(--time-cubic-bezier);
}

.card-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    min-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc(100% / 3 - 30px);
    min-width: 370px;
  }
}

.card-list__box {
  padding: 20px 24px;
}

.card-list__title {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-list__after {
  font-size: 16px;
  line-height: 1.88;
}

.card-list__thumb {
  position: relative;
  overflow: hidden;
}

.card-list__text {
  position: absolute;
  bottom: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primery-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--time-cubic-bezier);
}

.card-list__item:hover .card-list__text {
  transform: translate(0);
}

.hero {
  background-color: var(--hero-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-tab-2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/lmg-2x.jpg);
  }
}

.hero__title {
  color: var(--primery-text-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 200px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
  }
}

.features__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--button-bg-color);
}

.features__title {
  color: var(--second-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align-last: left;
  }
}

.features__after {
  font-size: 14px;
  line-height: 1.71;
}

.galary {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .galary {
    display: block;
  }
}

.galary__title {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.galary__list {
  display: flex;
}

.galary__item:not(:last-child) {
  margin-right: 30px;
}

.galary__app {
  position: relative;
}

.galary__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primery-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.command {
  background-color: var(--comand-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command__title {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.command-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.command-list__item {
  margin-bottom: 30px;
  background-color: var(--personal-bg-color);
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .command-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    max-width: 354px;
    min-height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list__item {
    width: calc(100% / 4 - 30px);
    max-width: 270px;
    min-height: 368px;
  }
}

.command-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-list__title {
  color: var(--second-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.command-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--first-icon-color);
  transition: var(--time-cubic-bezier);
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--second-icon-color);
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
    margin-top: 50px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: var(--first-icon-color);
  border-radius: 4px;
  transition: var(--time-cubic-bezier);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.footer {
  background-color: var(--futter-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    text-align: left;
    justify-content: flex-start;
  }
}

.footer-nav__span {
  color: var(--second-logo-color);
}

.footer-list__list {
  margin-top: 20px;
}

.footer-list__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list__item {
    margin-top: 9px;
  }
}

.footer-list__link {
  color: var(--primery-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-list__mail,
.footer-list__tel {
  color: var(--second-address-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: var(--time-cubic-bezier);
}

.footer-list__mail:hover, .footer-list__mail:focus,
.footer-list__tel:hover,
.footer-list__tel:focus {
  color: var(--accent-color);
}

.join {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-top: 0;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.join-list__socials {
  margin-top: 20px;
}

.join-list__socials .soc-list__link {
  background-color: var(--first-footer-social-color);
  fill: var(--second-icon-color);
}

.join-list__socials .soc-list__link:hover, .join-list__socials .soc-list__link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe-form__btn {
  position: relative;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  visibility: inherit;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__btn {
    margin-left: 12px;
  }
}

.subscribe-form__icon {
  position: absolute;
  background-size: contain;
  top: 13px;
  right: 28px;
  fill: var(--primery-text-color);
}

.mail {
  display: flex;
  flex-direction: column;
}

.mail__label {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.mail__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
  padding-left: 16px;
  margin-top: 20px;
  transition: var(--time-cubic-bezier);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

@media screen and (min-width: 768px) {
  .mail__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mail__input {
    min-width: 358px;
  }
}

.mail__input:hover, .mail__input:focus {
  border-color: var(--accent-color);
}

.mail__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-application {
  margin: 40px 40px;
  text-align: center;
}

.form-application__title {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--first-modal-text-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form-application__title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form-application__field {
  position: relative;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: var(--time-cubic-bezier);
}

.form-application__field .form-application__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-application__label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 10px;
}

.form-application__input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: var(--time-cubic-bezier);
  margin-top: 4px;
}

.form-application__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-application__icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transition: fill var(--time-cubic-bezier);
  transform: translateY(50%);
}

.form-application__input:focus + .form-application__icon {
  fill: var(--accent-color);
}

.form-application__icon:focus {
  border-color: var(--accent-color);
}

.form-application__coments {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 10px;
}

.form-application__textarea {
  font-size: 14px;
  letter-spacing: 0.03em;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 120px;
  transition: var(--time-cubic-bezier);
  padding: 12px 16px;
  margin-top: 4px;
}

.form-application__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
/*# sourceMappingURL=main.css.map */