.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    @include font(28px, null, 1.18, null);
    text-align: center;
    color: var(--second-text-color);

    @include desktop {
      @include font(36px, null, 1.16, null);
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  &-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;

    margin-top: 30px;
    @include tablet {
      width: calc(100% / 3 - 30px);
    }

    @include desktop {
      width: calc(100% / 6 - 30px);
      margin-top: 50px;
    }
  }

  &-list__link {
    @include flex(flex, center, center);

    height: 92px;
    border: 1px solid #afb1b8;
    fill: var(--first-icon-color);
    border-radius: 4px;
    transition: var(--time-cubic-bezier);

    &:hover,
    &:focus {
      fill: var(--accent-color);
      border: 1px solid #2196f3;
      border-radius: 4px;
    }
  }
}
