.command {
  background-color: var(--comand-bg-color);
  // min-height: 648px;

  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }   

  &__title {
    color: var(--second-text-color);
    @include font(36px, null, 1.16, null);
    // font-size: 36px;
    // line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }

  &-list {
    // display: flex;
    margin-bottom: -30px;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
    }

    &__item {
      margin-bottom: 30px;
      background-color: var(--personal-bg-color);
      max-width: 450px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      @include tablet {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        max-width: 354px;
        min-height: 536px;
      }
      @include desktop {
        width: calc(100% / 4 - 30px);
        max-width: 270px;
        min-height: 368px;
      }
    }

    &__box {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__title {
      color: var(--second-text-color);
      @include font(16px, 500, 1.18, null);
      text-align: center;
      margin-bottom: 10px;
    }

    &__text {
      @include font(16px, null, 1.18, null);
      text-align: center;
    }
  }
}
