.command {
  background-color: var(--comand-bg-color);
  min-height: 648px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  // padding-top: 94px;
  // padding-bottom: 94px;

  &__title {
    color: var(--second-text-color);
    @include font(28px, null, 1.17, null);
    // @include font(36px, null, 1.16, null);
    text-align: center;
    margin-bottom: 50px;
    @include desktop {
      @include font(36px, null, 1.16, null);
    }
  }

  &-list {
    @include desktop {
      display: flex;
    }

    &__item {
      background-color: var(--personal-bg-color);
      max-width: 270px;
      min-height: 368px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__box {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__title {
      color: var(--second-text-color);
      @include font(16px, 500, 1.19, null);
      text-align: center;
      margin-bottom: 10px;
    }

    &__text {
      @include font(16px, null, 1.19, null);
      text-align: center;
    }
  }
}
