.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;

  @include tablet {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }

  @include desktop {
    justify-content: center;
  }

  &__item {
    margin-right: 8px;
    margin-top: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    @include font(16px, 500, 1.62, null);
    color: var(--second-text-color);
    background-color: var(--button-bg-color);
    text-align: center;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    transition: var(--time-cubic-bezier);

    &:hover,
    &:focus {
      color: var(--primery-text-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
