.footer {
  background-color: var(--futter-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  .container {
    // display: flex;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include desktop {
      //   display: flex;
      flex-wrap: nowrap;
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.footer-nav__span {
  color: var(--second-logo-color);
}

.footer-list__list {
  margin-top: 20px;
}

.footer-list__item {
  margin-top: 8px;
  @include desktop {
    margin-top: 9px;
  }
}

.footer-list__link {
  color: var(--primery-text-color);
  font-style: normal;
  @include font(14px, null, 1.71, null);
}

.footer-list__mail,
.footer-list__tel {
  color: var(--second-address-color);
  font-style: normal;
  @include font(14px, null, 1.71, null);
  transition: var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
