.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  & > .container {
    @include flex(flex, center, null);
  }

  .nav {
    display: none;
    @include tablet {
      @include flex(flex, center, null);
    }
  }

  &-open-btn {
    @include tablet {
      display: none;
    }
    background-color: transparent;
    border: none;
    margin-left: auto;

    &:hover {
      fill: var(--accent-color);
    }
  }
}

.nav-logo {
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
