.hero {
    background-color: var(--hero-bg-color);
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: var(--primery-text-color);
        @include font(44px, 900, 1.36, 0.06em);
        text-align: center;
        text-transform: uppercase;
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    &__button {
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        min-width: 200px;
    }
}

