.join {
  margin-top: 60px;
  @include tablet {
    margin-top: 0;
    margin-left: 165px;
  }
  @include desktop {
    margin-left: 70px;
  }
}

.join__title {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.join-list__socials {
  margin-top: 20px;

  .soc-list__link {
    background-color: var(--first-footer-social-color);
    fill: var(--second-icon-color);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
