.button {
    color: var(--primery-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    @include font(16px, 700, 1.88, 0.06em);
    @include flex(block, center, null);
    text-align: center;
}