.form-license {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
  @include font(12px, 400, 1.16, 0.03em);
  @include desktop {
    @include font(14px, null, 1.71, 0.03em);
  }

  &__label {
    @include flex(flex, center, null);
  }

  &__link {
    line-height: 1.71;
    margin-left: 5px;
    color: var(--accent-color);
  }

  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__icon {
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid #212121;
    margin-right: 7px;
    fill: transparent;

    .form-license__checkbox:checked + & {
      background-color: var(--accent-color);
      border: 0;
      fill: var(--button-text-modal-color);
    }
  }
}

.modal-btn {
  @include flex(flex, null, center);
  &__btn {
    padding: 10px 55px;
  }
}
