body {
    color: var(--first-text-color);
    background-color: var(--body-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.link {
    text-decoration: none;
}