:root {
    --body-bg-color: #FFFFFF;
    --accent-color: #2196F3;
    --primery-text-color: #FFFFFF;
    --first-text-color: #757575;
    --second-text-color: #212121;
    --first-btn-color: #2196F3;
    --second-btn-color: #F5F4FA;
    --personal-bg-color: #FFFFFF;
    --hero-bg-color: #C4C4C4;
    --primary-bg-color: #E5E5E5;
    --comand-bg-color: #F5F4FA;
    --button-bg-color: #F5F4FA;
    --futter-bg-color: #2F303A;
    --icon-bg-color: #EEEEEE;
    --span-logo-color: #000000;
    --second-logo-color: #FFFFFF;
    --first-logo-color: #2196F3;
    --first-address-color: #FFFFFF;
    --second-address-color: rgba(255, 255, 255, 0.6);
    --first-icon-color: #AFB1B8;
    --second-icon-color: #FFFFFF;
    --first-footer-social-color: rgba(255, 255, 255, 0.1);
    --first-modal-text-color: #212121;
    --second-modal-text-color: #757575;
    --button-bg-modal-color: #2196F3;
    --button-text-modal-color: #FFFFFF;
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}