:root {
  --body-bg-color: #ffffff;
  --accent-color: #2196f3;
  --primery-text-color: #ffffff;
  --first-text-color: #757575;
  --second-text-color: #212121;
  --first-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --personal-bg-color: #ffffff;
  --hero-bg-color: #c4c4c4;
  --primary-bg-color: #e5e5e5;
  --comand-bg-color: #f5f4fa;
  --button-bg-color: #f5f4fa;
  --futter-bg-color: #2f303a;
  --icon-bg-color: #eeeeee;
  --span-logo-color: #000000;
  --second-logo-color: #ffffff;
  --first-logo-color: #2196f3;
  --first-address-color: #ffffff;
  --second-address-color: rgba(255, 255, 255, 0.6);
  --first-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --first-footer-social-color: rgba(255, 255, 255, 0.1);
  --first-modal-text-color: #212121;
  --second-modal-text-color: #757575;
  --button-bg-modal-color: #2196f3;
  --button-text-modal-color: #ffffff;
  --border-modal-color: rgba(33, 33, 33, 0.2);
  --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mob-menu-bg-color: #ffffff;
  --mob-primery-text: #212121;
  --mob-secondary-text: #757575;
}
